
.row
  %h1.page-header
    What is this?

.row
  %p
    I'm a Ruby on Rails programmer who is also interested in linguistics. I'm trying to use
    Rails learn about human language.
  %p
    This application scrapes data from Wikipedia (as best as it can) and tries to make connections.
  %p
    Obviously, it's a work in progress. If you'd like to contribute or make a suggestion,
    please leave a comment on any page or drop by
    = succeed "!" do
      = link_to "Github",  "https://github.com/rmosolgo/lang"

