- @places.each_with_index do |place, idx|
  - sounds = consonant_row[:sounds].send(place.name)
  - manner_names = consonant_row[:features].present?  ? consonant_row[:features].map(&:name) : consonant_row[:name].downcase.split(" ").map(&:underscore)
  - classes = (manner_names + [place.name])
  %td.sound{ class: (classes + ["voiceless"] ).join(" ")}<>
    - if s = sounds.voiceless[0]
      = render(partial: "sounds/sound", object: s)
  %td.sound{ class: (classes +  ["voiced"]).join(" ") }<>
    - if s = sounds.voiced[0]
      = render(partial: "sounds/sound", object: s)
