- content_for :title, "International Phonetic Alphabet"
- content_for :disqus_identifier, "sounds/index"
.row
  %h1.page-header
    International Phonetic Alphabet

.row
  = render partial: "ipa", locals: { alphabet: @sounds}
