/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "twitter/bootstrap";


table.table.ipa {
  width: 100%;
  $sound_width: 18px;
  td, th {
    line-height: 1.1em;
    padding:2px;
    word-wrap: break-word;
    &.place, &.backness {
      width: $sound_width * 2;
      min-width: $sound_width * 2;
      max-width: $sound_width * 2;
    }
    &.manner, &.height{
      $row_heading_width: 92px;
      width: $row_heading_width;
      min-width: $row_heading_width;
      max-width: $row_heading_width;
    }
    &.sound {
      text-align: center;
      width: $sound_width * 2;
      border: 1px solid #ddd;
      &:empty {
      }
    }
  }
}
