- content_for :title, @feature.name
- content_for :disqus_identifier, "features/#{@feature.name}"

.row
  %h1.page-header
    = @feature.name.titleize

.row
  %h2 
    Sounds
  %p
    = @feature.sounds.map {|s| link_to(s, sound_letter_path(s.letter))}.join(", ").html_safe